.iXSkQK {
    position:relative;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
    max-width:100%;
    color:rgba(0, 0, 0, 0.87);
    background-color:#FFFFFF;
  }
  .hFLscN {
    display:flex;
    width:100%;
    color:rgba(0, 0, 0, 0.87);
    font-size:12px;
    font-weight:500;
  }
  .dIZTvc {
    display:flex;
    align-items:stretch;
    width:100%;
    background-color:#FFFFFF;
    min-height:52px;
    border-bottom-width:1px;
    border-bottom-color:rgba(0,0,0,.12);
    border-bottom-style:solid;
  }
  .dXogGn {
    position:relative;
    display:flex;
    align-items:center;
    box-sizing:border-box;
    line-height:normal;
    padding-left:16px;
    padding-right:16px;
  }
  .cwMNwe {
    position:relative;
    display:flex;
    align-items:center;
    box-sizing:border-box;
    line-height:normal;
    padding-left:16px;
    padding-right:16px;
    word-break:break-word;
  }
  .cXlbji {
    flex-grow:0;
    flex-shrink:0;
    flex-basis:0;
    max-width:100%;
    min-width:100px;
    min-width:60px;
    max-width:60px;
    justify-content:center;
    padding:0;
  }
  .hnrhTz {
    flex-grow:1;
    flex-shrink:0;
    flex-basis:0;
    max-width:100%;
    min-width:100px;
    min-width:60px;
    max-width:60px;
  }
  .kvthUX {
    flex-grow:1;
    flex-shrink:0;
    flex-basis:0;
    max-width:100%;
    min-width:100px;
  }
  .icYkJs div:first-child {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  .dlylKQ div:first-child {
    white-space:nowrap;
    overflow:visible;
    text-overflow:ellipsis;
  }
  .fuzhEZ {
    display:flex;
    align-items:stretch;
    align-content:stretch;
    width:100%;
    box-sizing:border-box;
    font-size:13px;
    font-weight:400;
    color:rgba(0, 0, 0, 0.87);
    background-color:#FFFFFF;
    min-height:48px;
    color:rgba(0, 0, 0, 0.87);
    background-color:#FAFAFA;
  }
  .fuzhEZ:not(:last-of-type) {
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:rgba(0,0,0,.12);
  }
  .fuzhEZ:hover {
    color:rgba(0, 0, 0, 0.87);
    background-color:#EEEEEE;
    transition-duration:0.15s;
    transition-property:background-color;
    border-bottom-color:#FFFFFF;
    outline-style:solid;
    outline-width:1px;
    outline-color:#FFFFFF;
  }
  .rsSUo {
    display:flex;
    align-items:stretch;
    align-content:stretch;
    width:100%;
    box-sizing:border-box;
    font-size:13px;
    font-weight:400;
    color:rgba(0, 0, 0, 0.87);
    background-color:#FFFFFF;
    min-height:48px;
  }
  .rsSUo:not(:last-of-type) {
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:rgba(0,0,0,.12);
  }
  .rsSUo:hover {
    color:rgba(0, 0, 0, 0.87);
    background-color:#EEEEEE;
    transition-duration:0.15s;
    transition-property:background-color;
    border-bottom-color:#FFFFFF;
    outline-style:solid;
    outline-width:1px;
    outline-color:#FFFFFF;
  }
  .bTjZre {
    padding:2px;
    color:inherit;
    flex-grow:0;
    flex-shrink:0;
    opacity:0;
  }
  .bvCjNn {
    text-align:center;
  }
  .fqQONN {
    display:inline-flex;
    align-items:center;
    justify-content:inherit;
    height:100%;
    width:100%;
    outline:none;
    user-select:none;
    overflow:hidden;
  }
  .bCDaBJ {
    display:inline-flex;
    align-items:center;
    justify-content:inherit;
    height:100%;
    width:100%;
    outline:none;
    user-select:none;
    overflow:hidden;
    cursor:pointer;
  }
  .bCDaBJ span.__rdt_custom_sort_icon__ i,
  .bCDaBJ span.__rdt_custom_sort_icon__ svg {
    transform:'translate3d(0, 0, 0)';
    opacity:0;
    color:inherit;
    font-size:18px;
    height:18px;
    width:18px;
    backface-visibility:hidden;
    transform-style:preserve-3d;
    transition-duration:95ms;
    transition-property:transform;
  }
  .bCDaBJ span.__rdt_custom_sort_icon__.asc i,
  .bCDaBJ span.__rdt_custom_sort_icon__.asc svg {
    transform:rotate(180deg);
  }
  .bCDaBJ:hover,
  .bCDaBJ:focus {
    opacity:0.7;
  }
  .bCDaBJ:hover span,
  .bCDaBJ:focus span,
  .bCDaBJ:hover span.__rdt_custom_sort_icon__ *,
  .bCDaBJ:focus span.__rdt_custom_sort_icon__ * {
    opacity:0.7;
  }
  /* .hZrbMC {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  } */
  .kqXKaa {
    display:flex;
    flex-direction:column;
  }
  .gQArdZ {
    position:relative;
    width:100%;
    border-radius:inherit;
    overflow-x:auto;
    overflow-y:hidden;
    min-height:0;
  }
  .gYrAFt {
    position:relative;
    width:100%;
    display:table;
  }
  .RZGgn {
    box-sizing:border-box;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:rgba(0, 0, 0, 0.87);
    background-color:#FFFFFF;
  }
  .iIygxw {
    cursor:pointer;
    height:24px;
    max-width:100%;
    user-select:none;
    padding-left:8px;
    padding-right:24px;
    box-sizing:content-box;
    font-size:inherit;
    color:inherit;
    border:none;
    background-color:transparent;
    appearance:none;
    direction:ltr;
    flex-shrink:0;
  }
  .iIygxw::-ms-expand {
    display:none;
  }
  .iIygxw:disabled::-ms-expand {
    background:#f60;
  }
  .iIygxw option {
    color:initial;
  }
  .hZInOG {
    position:relative;
    flex-shrink:0;
    font-size:inherit;
    color:inherit;
    margin-top:1px;
  }
  .hZInOG svg {
    top:0;
    right:0;
    color:inherit;
    position:absolute;
    fill:currentColor;
    width:24px;
    height:24px;
    display:inline-block;
    user-select:none;
    pointer-events:none;
  }
  .jWqsSS {
    display:flex;
    flex:1 1 auto;
    justify-content:flex-end;
    align-items:center;
    box-sizing:border-box;
    padding-right:8px;
    padding-left:8px;
    width:100%;
    color:rgba(0, 0, 0, 0.54);
    font-size:13px;
    min-height:56px;
    background-color:#FFFFFF;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:rgba(0,0,0,.12);
  }
  .fAPQyl {
    position:relative;
    display:block;
    user-select:none;
    border:none;
    border-radius:50%;
    height:40px;
    width:40px;
    padding:8px;
    margin:px;
    cursor:pointer;
    transition:0.4s;
    color:rgba(0,0,0,.54);
    fill:rgba(0,0,0,.54);
    background-color:transparent;
  }
  .fAPQyl:disabled {
    cursor:unset;
    color:rgba(0, 0, 0, .18);
    fill:rgba(0, 0, 0, .18);
  }
  .fAPQyl:hover:not(:disabled) {
    background-color:rgba(0,0,0,.12);
  }
  .fAPQyl:focus {
    outline:none;
    background-color:rgba(0,0,0,.12);
  }
  .kLMEOz {
    display:flex;
    align-items:center;
    border-radius:4px;
    white-space:nowrap;
  }
  @media screen and (max-width: 599px) {
    .kLMEOz {
      width:100%;
      justify-content:space-around;
    }
  }
  .gSDymv {
    flex-shrink:1;
    user-select:none;
  }
  .fAetuQ {
    margin:0 24px;
  }
  .bdKHry {
    margin:0 4px;
  }
  