.viewResumeSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.fileName {
    color: #653FFD	;
    display: flex;
    align-items: center;
    padding: 0.2rem;
    border-radius: 4px;
    border: 0.1px solid #653FFD;
}

.disabledFileds{
    background-color:  #f8f9fa;
    pointer-events: none;
    cursor: not-allowed;
}
.closeButton{
    cursor: pointer;
}

.jsutDisplay {
    padding: 0.4rem;
  font-size: 0.9em;
  border-radius: 4px;
}

.viewSectionContainer{
    padding-bottom: 2rem;
   
}

.statusSection{
    display: flex;
    flex-direction: column;
}

.formHeadingsView{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid rebeccapurple; */
    padding: 0 1rem;
  }

  .formHeadingsView h1{
color: var(--main-color);
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  }

  

  /* .referralStatusView{

  } */




