.profileSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.9em;
  position: relative;
}

.profileImage {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.dropdownImage {
  width: 20px;
}

.profileSettings img {
  width: 24px;
  /* height: 20px; */
  cursor: pointer;
}

.profileTheme img {
  width: 24px;
  /* height: 20px;  */
  /* background: #D7D7D7;
  border-radius: 50%;
  padding: 0.3em; */
}

.profileTheme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.3rem;
  /* border: 1px solid gray; */
  border-radius: 25px;
  /* padding: 0 0 0 0.3rem; */
  cursor: pointer;
}

/* .profileTheme img:hover {
  background: #d7d7d7;
  border-radius: 50%;
  padding: 0.3em;
} */
.profileRightSide {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  gap: 1em;
  /* gap: 0.5rem; */
  align-content: center;
  align-items: center;
}

/* .profileDetails {
  width: 200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-bottom: 0.6rem;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
} */

.profileDetails {
  position: absolute;
  bottom: 10%;
  /* top: 20px; */
  left: 75px;
  background-color: #f7f7f7;
  width: 300px;
  max-width: 500px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.profileInfoSecond {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 2em;
  gap: 0.2em;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 0.8em;
  /* border-bottom: 1px solid grey; */
}

.logoutButton {
  background-color: red;
  color: white;
  border-radius: 25px;
  padding: 0.4rem 0.9rem 0.4rem 0.4rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 6px;
  transition: background-color 0.3s ease;
  font-family: "Inter", sans-serif;
}

.profileName {
  color: var(--main-color);
  font-weight: bold;
  /* font-size: 1rem; */
  /* padding: 0.6rem 0rem; */
}

.profileEmail {
  font-size: 0.9rem;
  color: grey;
}

.logoutImg {
  background: url("../../assets/images/logout.svg") no-repeat red;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.viewProfileImg {
  background: url("../../assets/images/viewProfile.svg");
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.viewProfile,
.accountSettings {
  display: flex;
  align-content: center;
  gap: 0.5em;
  padding: 0.3em;
  cursor: pointer;
}

.accountSettings {
  padding: 0.3em 1em;
}

.viewProfile:hover,
.accountSettings:hover {
  background-color: var(--sidebar-active-bg);
  border-radius: 25px;
}
.avatarImage {
  border-radius: 50%;
  /* border: 2px solid #283e46; */
  /* background-color: #e1f2ef; */
}
